<div class="container big">
	<h5 class="center-align">Lista de Procedimentos</h5>
	<div class="row">
		<div class="input-field col s12 m6 l6 push-m6 push-l6">
			<i class="material-icons prefix">search</i>
			<input id="query" name="query" type="text" maxlength="20" data-ng-model="procedimento.query" data-ng-change="procedimento.search()" data-uinum>
			<label for="query">Buscar Procedimento</label>
		</div>
	</div>
	<table class="highlight responsive-table centered" at-table at-paginated at-list="procedimento.procedimentos" at-config="procedimento.config">
		<thead></thead>
		<tbody>
			<tr>
				<td at-title="Código Procedimento" at-implicit at-attribute="cod_procedimento" width="25%"></td>
				<td at-title="Procedimento" at-implicit at-attribute="procedimento" width="30%"></td>
				<td at-title="Unidade Executora" at-implicit at-attribute="nome_unidade_executora" width="25%"></td>
				<td at-title="Ação" width="20%">
					<a tooltips tooltip-side="bottom" tooltip-template="Clique para editar o procedimento" data-ui-sref="menu.editar_procedimento({id_procedimento: item.id_procedimento})" class="btn-floating btn waves-effect waves-light add blue-grey lighten-1"><i class="material-icons">edit</i></a>
					<a tooltips tooltip-side="bottom" tooltip-template="Clique para excluir o procedimento" data-ng-click="procedimento.excluir(item.id_procedimento)" class="btn-floating btn waves-effect waves-light add red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<at-pagination class="right-align" at-list="procedimento.procedimentos" at-config="procedimento.config"></at-pagination>
</div>