<ul id="slide-out" class="sidenav sidenav-fixed noprint">
	<li>
		<div class="user-view center-align">
			<a><img class="circle" src="dist/img/brasao.png"></a>
			<a><span class="name">Prefeitura de Gravatá</span></a>
			<a><span class="email">Secretaria Municipal de Saúde</span></a>
		</div>
	</li>
	<li><div class="divider"></div></li>
	<li>
		<ul class="collapsible">
			<li>
				<a class="collapsible-header waves-effect">Agendamentos<i class="material-icons right">arrow_drop_down</i></a>
				<div class="collapsible-body">
					<ul>
						<li class="sidenav-close"><a data-ui-sref="menu_empresa.lista_empresa_agendamento({status_agendamento: 1})">Agendamentos Marcados</a></li>
						<li class="sidenav-close"><a data-ui-sref="menu_empresa.lista_empresa_agendamento({status_agendamento: 2})">Agendamentos Finalizados</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
	<li><div class="divider"></div></li>
	<li>
		<a class="collapsible-header waves-effect sidenav-close" data-ng-click="menu.logout()">Logout<i class="material-icons right">exit_to_app</i></a>
	</li>
</ul>
<nav class="noprint">
	<div class="nav-wrapper container">
		<a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only"><i class="material-icons">menu</i></a>
	</div>
</nav>
<div class="row" data-ui-view></div>